/* 
colors

darker grey: #b5babe 
lighter grey: #ebebeb
red: #f76473
blue: #0d6efd
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

body, html, #content {
    font-family: "Roboto"; 
    height: 100%;
}

h1, h2 {
    font-family: "Merriweather";
}

strong {
    font-weight: bold;
}

.hidden {
    display: none;
}

.topcorner {
    position: absolute;
    top: 2%;
    right: 2%;
}

.version-link {
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
    margin-right: 5px;
    font-size: 0.9rem;
}

.version-link:hover {
    background-color: white;
}

h1 {
    width: 600px;
    margin: auto;
    font-size: 60px;
    left: 15px;
    top: -57px;
}

h2 {
    font-size: 48px;
}

footer {
    z-index: 7;
    width: 100%;
    position: absolute;
}

/* Search Styling */

/* Gradient animation code from https://www.gradient-animator.com/ */
#search-page, #loader {
    background: linear-gradient(269deg, #f15252, #f9a42e, #f3e14f, #84e184, #2dae7c, #59cfd0, #537ce3, #af79e4, #e37dc8);
    background-size: 1800% 1800%;

    -webkit-animation: AnimationName 55s ease infinite;
    -moz-animation: AnimationName 55s ease infinite;
    -o-animation: AnimationName 55s ease infinite;
    animation: AnimationName 55s ease infinite;
    min-height: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#form-container {
    width: 600px;
    margin: auto;
    margin-top: 4.5rem;
}

#search-form {
    padding: 25px 35px;
    background-color: white;
}

.subtext {
    color: #b5babe;
    font-style: italic;
    font-size: 80%;
}

.box {
    border-radius: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error {
    color: #f76473;
    font-size: 80%;
    font-style: italic;
}

#energy-labels {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#energy-labels li {
    color: #b5babe;
    width: 15px;
    font-size: 80%;
    padding-left: 3px;
}

.item, .item.active {
    background-color: #0d6efd !important;
    border: 1px solid #0b60df !important;
    background-image: linear-gradient(to bottom, #0d6efd, #0c67f0) !important;
}

.invalid-word, .invalid-word.active {
    background-image: linear-gradient(to bottom, #f76473, #ce4956) !important;
    background-color: #f76473 !important;
    border: 1px solid #df5361 !important;
}

a.remove {
    border: none !important;
    margin-left: 0 !important;
}

/* modal styling */

#background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-top {
    position: absolute;
    border-radius: 10px;
    left: 0;
    top:0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#closeBtn {
    width: 30px;
    right: 10px;
    top: 20px;
    font-size: 0.7rem;
}

.modal-footer {
    border: none;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

#defBtn, #submitBtn, #addColorBtn, #clearBtn, #voteBtn, #regenerateBtn {
    width: 120px;
}

#clearBtn {
    position: absolute;
    bottom: 25px;
    right: 155px;
}

#defForm {
    position: relative;
    margin: auto;
    height: 640px;
    margin-top: 50px;
    background-color:white;
    padding-top: 2.5rem;
}

.modal-body {
    height: 530px;
    overflow: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
}

.radio-button {
    margin-top: .35rem;
}

.names {
    font-size: 0.7rem !important;
}

/* results styling */

.whitespace {
    width: 100%;
    height: 4rem;
    z-index: 2;
}

.gradient {
    width: 100%;
    height: 20px;
    margin: 0;
    position: relative;
    z-index: 2;
}

.palette {
    position: relative;
    z-index: 2;
    width: 750px;
    left: calc(50% );
    transform: translateX(-50%);
    margin: auto 0px;
    margin-left: 75px;
}

.color {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    display: inline-block;
    font-size: 0.9rem;
}
 
/* arrow code from: https://cssarrowplease.com/ */
.picker {
	position: absolute;
	border: 2px solid #ebebeb;
    border-radius: 10px;
    left: -40px;
    bottom: 195px;
    z-index: 3;
}

.picker:after, .picker:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.picker:after {
	border-color: rgba(213, 213, 213, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.picker:before {
	border-color: rgba(235, 235, 235, 0);
	border-top-color: #ebebeb;
	border-width: 13px;
	margin-left: -13px;
}
/* end arrow */

.close-picker {
    width: 30px;
    right: 0;
    font-size: 0.8rem;
    opacity: 1;
    z-index: 4;
    filter: invert(83%) sepia(7%) saturate(186%) hue-rotate(165deg) brightness(93%) contrast(79%);
}

.close-swatch {
    width: 15px;
    height: 15px;
    top: -10px;
    right: 10px;
    font-size: 0.7rem;
    z-index: 2;
    border: 1px solid #0d6efd;
    opacity: 1;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(13,110,253)'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    padding: 5px 2.5px 5px 7px;
    border-radius: 30px;
}

.input-group-text {
    height: 30px;
    border-right: none;
    border-radius: 5px;
    color: #b5babe;
}

.selectize-dropdown {
    top: 36px !important;
}

.picker-code {
    border: 1px solid #b5babe;
    max-width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 0.9rem;
    border-left: none;
}

.picker-text {
    color: #b5babe;
    font-size: 0.9rem;
}

.necessary-color .swatch {
    width: 150px;
    height: 150px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    color: #b5babe;
    text-align: center;
    padding: 40px 30px;
}

#addColorBtn {
    height: 40px;
}

.hex-error {
    width: 175px;
}

.swatch {
    width: 100px;
    height: 100px;
}

.swatch:hover > .copy {
    opacity: 1;
}

.copy {
    width: 30px;
    height: 30px;
    margin-left: 2.3rem;
    margin-top: 2.3rem;
    /* filter: invert(100%) sepia(9%) saturate(136%) hue-rotate(215deg) brightness(116%) contrast(84%);  */
    transition: all 0.1s ease-in-out;
    opacity: 0;
}

.copy-palette {
    width: 30px;
    height: 30px;
    margin-top: 3.3rem;
    margin-left: 0.3rem;
    filter: invert(72%) sepia(2%) saturate(723%) hue-rotate(189deg) brightness(101%) contrast(96%);
}

.number {
    font-size: 275px;
    color: #EBEBEB;
    font-family: "Merriweather";
    position: absolute;
    z-index: 0;
    bottom: -60px;
    margin-left: 20px;
}

.vote {
    font-weight: bolder;
    position: relative;
    color: #b5babe;
    margin-top: 1rem;
}

.vote p {
    margin-left: 1.2rem;
    margin-bottom: 0;
    font-size: 18px;
}

.vote.updated {
    color: #0d6efd;
}

.arrow {
    filter: invert(100%) sepia(9%) saturate(136%) hue-rotate(215deg) brightness(116%) contrast(84%);
}

.arrow:hover {
    filter: invert(38%) sepia(55%) saturate(6515%) hue-rotate(210deg) brightness(100%) contrast(102%); /* #0d6efd */
}

.score {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#more-info {
    filter: invert(38%) sepia(55%) saturate(6515%) hue-rotate(210deg) brightness(100%) contrast(102%); /* #0d6efd */
    height: 1.3rem;
}

#more-info:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;   
    filter: invert(38%) sepia(55%) saturate(6515%) hue-rotate(210deg) brightness(80%) contrast(102%);
}

#more-info[data-event="click"] {
    filter: invert(38%) sepia(55%) saturate(6515%) hue-rotate(210deg) brightness(80%) contrast(102%);
}

.breakdown {
    width: 250px;
    right: 0;
    bottom: 40px;
    z-index: 3;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.breakdown:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid white;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    border-bottom: 10px solid transparent;
    right: 15px;
    bottom: -12px;
    transform: scaleX(-1);
}

.search-descript {
    font-size: 0.7rem;
    color: #b5babe;
}

.breakdown-score {
    color: #0d6efd;
}

.bar {
    background-color: #0d6efd;
    height: 21px;
}

#regenerateForm {
    z-index: 3;
    top: 1rem;
    height: 40px;
    width: 120px;
    left: 100%;
    margin-right: 10px;
}

/* Code from https://tobiasahlin.com/spinkit/ */

#loader {
    align-items: center;
    justify-content: center;
    display: none;
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 3s infinite linear both;
}
  
.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.5s infinite ease-in-out both; 
}
  
.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.5s infinite ease-in-out both; 
}
  
.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
@keyframes sk-chase {
    100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
}
  
@keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
}